<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home music</title>
    <link rel="stylesheet" href="/assets/style/home.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@1,14..32,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    <main>
        <div class="back-ground">

            <div class="container-img-adjust">


                <div class="gradient">
                </div>

                <div class="img-home">
                    <div class="img-home-gradientcircle"></div>
                </div>
                <div class="group-text">
                    <img class="head-icon" src="/assets/icon/headicon.svg" alt="headmusic-icone">
                    <h2 class="album-labs-h2">Album Labs</h2>
                    <img class="wave-icon" src="/assets/icon/wave.svg" alt="wave-icone">
                </div>
                <div class="description">
                    <h3 class="album-labs-h3">Descubra, organize e gerencie seus musicas com praticidade. Com o Album
                        Labs, você pode de encontrar suas faixas, álbuns e artistas favoritos em segundos em um unico
                        lugar, organizando sua biblioteca !
                    </h3>
                        <div class="group-welcome">
                            <p class="welcome">Seja bem vindo !</p>
                            <a href="/myLibrary" class="init-aplication">Comece Agora</a>
                        </div>
                </div>
            </div>


        </div>


    </main>


</body>

</html>