<link rel="stylesheet" href="/assets/style/footer.css">
<footer class="style-footer">
    <div>
        <nav class="nav-items">
            <ul>
                <li><a href="">Our company</a></li>
                <li><a href="">Suport</a></li>
                <li><a href="">Communities</a></li>
                <li><a href="">Jobs and Carrer</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <nav class="nav-items">
            <ul>
                <li><a href="">Privacy</a></li>
                <li><a href="">Cookies</a></li>
                <li><a href="">Accessbility</a></li>
                <li><a href="">Safety</a></li>
            </ul>
        </nav>
    </div>
</footer>
</div>